[submodule "external/greatest"]
	path = external/greatest
	url  = git@github.com:silentbicycle/greatest.git
[submodule "external/nuklear"]
	path = external/nuklear
	url = git@github.com:Immediate-Mode-UI/Nuklear.git
[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/glew"]
	path = external/glew
	url = git@github.com:Perlmint/glew-cmake.git
